
if (options.numPages > 1)
	div.alert.alert-warning#paging

		-var prevClass = (options.pageNum <= 1) ? 'disabled' : '';
		-var nextClass = (options.pageNum >= options.numPages) ? 'disabled' : '';

		.pagingInfo.clearfix
			.prev(class=prevClass)
				a(href=options.firstPageUrl, title="First Page", rel="nofollow"): i.fa.fa-angle-double-left
				a(href=options.prevPageUrl, title="Previous Page", rel="nofollow"): i.fa.fa-angle-left
			.next(class=nextClass)
				a(href=options.nextPageUrl, title="Next Page", rel="nofollow"): i.fa.fa-angle-right
				a(href=options.lastPageUrl, title="Last Page", rel="nofollow"): i.fa.fa-angle-double-right
			.numbers
				| Page #{options.pageNum} of #{options.numPages}

//- pre= JSON.stringify(options, null, '\t')