extends layout

block headClose
	link(rel="canonical", href=canonical)
	if(options.pageNum !== options.prevPageNum)
		link(rel="prev", href=options.prevPageUrl)
	if(options.pageNum !== options.nextPageNum)
		link(rel="next", href=options.nextPageUrl)


block content
	-var activeTab = 'providers'
	
	#browse.container
		include includes/breadcrumb

		.row
			.col-lg-24
				header
					h1.pageTitle !{pageTitle}
						small.pageDescription.text-muted= pageDescription


				.leader: include includes/adsense

				include includes/browse/description

		.row: .col-lg-24
			include includes/browse/tabs

		.row
			#browseOptions.col-md-6.col-md-push-18

				if (options.numPages > 1 || numResults !== place.numFacilities)
					include includes/browse/paging

				include includes/browse/filters

				//- .sky: include includes/adsense

			.col-md-18.col-md-pull-6
				-var inlineSlot1 = 0;
				-var inlineSlot2 = (facilities.length >= 4) ? 5 : ((facilities.length > 1) ? facilities.length - 1 : infinity ); // 5 or last or none

				each facility, ixFacility in facilities
					include includes/browse/facility

					if (ixFacility === inlineSlot1 || ixFacility === inlineSlot2)
						.inlined: include includes/adsense
