extends layout


block content
	#browse.container
		.row
			.col-lg-24 
				h1.page-header.pageTitle= pageTitle
					small.pageDescription.text-muted= pageDescription

		.row-fluid
			.col-lg-5
				include includes/filters
			.col-lg-19
				-if (facilities.length !== stateFacilities)
					div Facilities matching requested filters: #{numResults}
					div Page #{options.pageNum} of #{options.numPages}
				
				each facility in facilities
					section.facility
						h1: a(href=facility.getLink()) #{facility.name}

						.row
							.col-sm-12

								dl.dl-horizontal

									dt <abbr title="End-Stage Renal Disease">ESRD</abbr> <abbr title="Quality Incentive Program">QIP</abbr> Score
									dd #{facility.performanceScore || 'N/A'}
									
									dt Survival Rate
									dd #{facility.getText('mortality').val}

									dt Hospitalization Rate
									dd #{facility.getText('hospitalization').val}
							.col-sm-12
								ul.list-unstyled.attributes
									each filter in options.filters
										if ((filter.val === 'yes' && facility[filter.col] === 1) || (filter.val === 'no' && facility[filter.col] === 0))
											-var className = (filter.isActive) ? 'active' : '';
											li(class=className)
												i.fa.fa-check-square-o
												= filter.label

							//- 	dt Phone Number
							//- 	dd #{facility.phone || 'N/A'}

							//- 	dt Address
							//- 	dd #{facility.address || 'N/A'}#{(facility.address2) ? ', ' + facility.address2 : ''}

							//- 	dt City
							//- 	dd #{facility.city || 'N/A'}

							//- 	dt State
							//- 	dd #{facility.state || 'N/A'}

							//- 	dt home
							//- 	dd #{facility.getLink()}
							//- 	dt statistics
							//- 	dd #{facility.getLink('statistics')}
							//- 	dt jobs
							//- 	dd #{facility.getLink('jobs')}
							//- 	dt hotels
							//- 	dd #{facility.getLink('hotels')}

							//- 	dt numStations
							//- 	dd #{facility.numStations}

							//- 	dt Chain
							//- 	dd #{facility.getChain().label}

							//- //- p= JSON.stringify(facility)