extends layout

block headClose
	link(rel="canonical", href=canonical)
	if(options.pageNum !== options.prevPageNum)
		link(rel="prev", href=options.prevPageUrl)
	if(options.pageNum !== options.nextPageNum)
		link(rel="next", href=options.nextPageUrl)


block content
	#browse.container
		.row
			.col-lg-24 
				header
					h1.page-header.pageTitle !{pageTitle}
						small.pageDescription.text-muted= pageDescription

				include includes/browse/description

		.row: .col-lg-24
			-var activeTab = 'providers'
			include includes/browse/tabs

		.row
			#browseOptions.col-md-6.col-md-push-18

				if (options.numPages > 1 || numResults !== place.numFacilities)
					include includes/browse/paging

				include includes/browse/filters

			.col-md-18.col-md-pull-6

				each facility in facilities
					include includes/browse/facility