extends layout

block headClose
	if (thresholdDefault !== threshold)
		link(rel="canonical", href="/")


block content
	#home.container
		.row
			.col-lg-24
				header
					h1.pageTitle Welcome to Local Dialysis Providers!
						small.pageDescription.text-muted Research and compare all #{numeral(nation.numFacilities).format('0,0')} <abbr title="The Centers for Medicare &amp; Medicaid Services">CMS</abbr> certified dialysis facilties

				.leader: include includes/adsense

		.row: .col-lg-24
			-var activeTab = 'providers'
			include includes/browse/tabs

		.row
			.col-md-5.col-md-push-19.col-lg-7.col-lg-push-17
				.sky: include includes/adsense

			.col-md-19.col-md-pull-5.col-lg-17.col-lg-pull-7

				section#geoFacilities
					.row
						- var colSize = (24 / numCols);
						-for(var ixCol = 0; ixCol < numCols; ixCol ++)
							+writeCol(colSize, ixCol)
					.row: .col-sm-24
						div.thresholds
							| Including #{numCities} cities with at least #{threshold} facilities: 
							a(href="/?threshold=4") most
							a(href="/?threshold=8") more
							a(href="/") normal
							a(href="/?threshold=18") fewer
							a(href="/?threshold=999") none



mixin writeCol(colSize, colNum)
	- var colStates = _.filter(states, {column: colNum});
	div(class="col-sm-#{colSize}")
		ul.states.list-unstyled
			- each state, index in colStates
				li
					a.state(href="#{state.getLink()}") #{state.name}
					//- .badge.pull-right= state.numFacilities
				- if (state.cities.length)
					ul.cities.list-unstyled
						- each city in state.cities
							li
								a.city(href="#{city.getLink()}") #{city.name}
								//- .badge.pull-right= city.numFacilities
