extends layout


block headClose
	//- link(rel="canonical", href=canonical)
	if(options.pageNum !== options.prevPageNum)
		link(rel="prev", href=options.prevPageUrl)
	if(options.pageNum !== options.nextPageNum)
		link(rel="next", href=options.nextPageUrl)




block content
	//- include includes/statistics/mixins
	-var activeTab = 'hotels'

	#hotels.container
		include includes/breadcrumb

		.row
			.col-lg-24
				header
					h1.pageTitle !{pageTitle}
						small.pageDescription.text-muted= pageDescription

				.leader: include includes/adsense

				//- section.description
				//- 	p Dialysis Jobs, including Hemodialysis and Peritoneal Dialysis, currently available in !{place.placeName}


		.row: .col-lg-24
			if (place.type === 'provider')
				include includes/providers/tabs
			else
				include includes/browse/tabs


		.row
			.col-md-5.col-md-push-19.col-lg-7.col-lg-push-17
				include includes/hotels/paging
				.sky: include includes/adsense

			.col-md-19.col-md-pull-5.col-lg-17.col-lg-pull-7
				-var inlineSlot1 = 0;
				-var inlineSlot2 = null//(jobs.results.length >= 4) ? 5 : ((jobs.results.length > 1) ? jobs.results.length - 1 : infinity ); // 5 or last or none

				#listings

					if (eanError)
						.alert.alert-danger
							h3= eanError.presentationMessage
							p= eanError.verboseMessage

					else if (hotels.length === 0)
						.alert.alert-danger
							h3 No results

					else
						//- pre= JSON.stringify(results, null, '\t')

						each hotel, ixHotel in hotels
							include includes/hotels/listing

							if (ixPosting === inlineSlot1 || ixPosting === inlineSlot2)
								.inlined: include includes/adsense


						.alert.alert-warning
							p
								| Note: It is the responsibility of the hotel chain and/or the individual property to ensure the accuracy of the photos displayed. This site is not responsible for any inaccuracies in the photos.
							p
								| ** The room rates listed are for double occupancy per room unless otherwise stated and exclude tax recovery charges and service fees.
								| See <a href="http://www.travelnow.com/templates/1/faq" target=_blank>FAQs</a> for more details.