
if (options.numPages > 1)
	div.alert.alert-info#paging

		-var prevClass = (options.pageNum <= 1) ? 'disabled' : '';
		-var nextClass = (options.pageNum >= options.numPages) ? 'disabled' : '';

		.pagingInfo.clearfix
			.prev(class=prevClass)
				a(href=options.firstPageUrl, title="First Page"): i.fa.fa-angle-double-left
				a(href=options.prevPageUrl, title="Previous Page"): i.fa.fa-angle-left
			.numbers
				| Page #{options.pageNum} of #{options.numPages}
			.next(class=nextClass)
				a(href=options.nextPageUrl, title="Next Page"): i.fa.fa-angle-right
				a(href=options.lastPageUrl, title="Last Page"): i.fa.fa-angle-double-right

//- pre= JSON.stringify(options, null, '\t')