

mixin writeTable(section, label, key, facilityKey, dataType)
	-sections[section].subs.push({key: key, label: label})
	.panel.panel-default.simple(id=key)
		.panel-heading: h3 !{label}
		.panel-body: table
			each region in ['nation', 'state', 'city']
				if (places.hasOwnProperty(region))
					-var val = (places && places[region] && places[region][key]) ? places[region][key] : null;
					tr(class=region)
						+writeVal(val, dataType)
						th !{places[region].placeName}

			if (places.hasOwnProperty('facility'))
				-var val = (facilityKey !== null) ? places.facility[facilityKey] : null;
				tr.facility
					+writeVal(val, dataType)
					th !{places.facility.name}



mixin writeCodes(section, label, key, dataType)
	.panel.panel-default.codes(id=key)
		.panel-heading
			h3
				span.expando
					i.fa.fa-plus-square-o
				= label
		.panel-body
			each region, ixRegion in ['nation', 'state', 'city']
				if (places.hasOwnProperty(region))
					table
						col(width="10%")
						col
						caption !{places[region].placeName}
						each code, ixText in GLOBAL.DATA.REFERENCE.codes
							-var codeKey = ('code' + code.id + '_' + key)
							-var val = places[region][codeKey]
							if (val !== null)
								tr
									+writeVal(val, dataType)
									td.code-label !{code.label || 'Data Available'}

			if (places.hasOwnProperty('facility'))
				table
					col(width="10%")
					col
					caption !{places.facility.name}
					-var facilityKey = places.facility[key]
					tr
						td !{facilityKey}
						td.code-label !{(GLOBAL.DATA.REFERENCE.codes[facilityKey]) ? GLOBAL.DATA.REFERENCE.codes[facilityKey].label : 'N/A'}




mixin writeAgg(section, label, key, cols, dataType)
	-sections[section].subs.push({key: key, label: label})
	.panel.panel-default.agg(id=key)
		.panel-heading: h3 !{label}
		.panel-body
			each region, ixRegion in ['nation', 'state', 'city']
				if (places.hasOwnProperty(region))
					table(class=region)
						caption !{places[region].placeName}
						each col in cols
							-var aggType = aggTypes[col];
							-var aggDataType = aggType.dataType || dataType
							-var aggKey = (aggType.key + '_' + key)
							-var val = places[region][aggKey];
							tr
								+writeVal(val, aggDataType)
								th.agg-label !{aggType.label}

			if (places.hasOwnProperty('facility'))
				table.facility
					caption !{places.facility.name}
					-var facilityKey = places.facility[key];
					tr
						+writeVal(places.facility[key], dataType)
						th.agg-label !{places.facility.name}



mixin writeTexts(section, label, key, dataType)
	-sections[section].subs.push({key: key, label: label})
	.panel.panel-default.texts(id=key)
		.panel-heading
			h3 !{label}
		.panel-body
			each region, ixRegion in ['nation', 'state', 'city']
				if (places.hasOwnProperty(region))
					table(class=region)
						col(width="10%")
						col
						caption !{places[region].placeName}
						each text, ixText in GLOBAL.DATA.REFERENCE.texts
							-var textKey = ('text' + text.id + '_' + key)
							-var val = places[region][textKey];
							if (val !== null)
								tr
									+writeVal(val, dataType)
									th.text-label !{text.val || 'Not Available'}

			if (places.hasOwnProperty('facility'))
				table(class=region)
					col(width="10%")
					col
					caption !{places.facility.name}
					-var facilityKey = places.facility[key];
					-console.log('facilityKey', facilityKey)
					-var text = GLOBAL.DATA.REFERENCE.texts[facilityKey]
					tr
						td
						th.applied-label !{(text) ? text.val : 'N/A'}




mixin writeApplied(section, label, key, dataType)
	-sections[section].subs.push({key: key, label: label})
	.panel.panel-default.applied(id=key)
		.panel-heading
			h3 !{label}
		.panel-body
			each region, ixRegion in ['nation', 'state', 'city']
				if (places.hasOwnProperty(region))
					table(class=region)
						col(width="10%")
						col
						caption !{places[region].placeName}
						each applied, ixApplied in GLOBAL.DATA.REFERENCE.applies
							-var appliedKey = ('applied' + applied.id + '_' + key)
							-var val = places[region][appliedKey]
							if (val !== null)
								tr
									+writeVal(val, dataType)
									th.applied-label !{applied.val || 'Not Available'}
									//- td !{appliedKey}

			if (places.hasOwnProperty('facility'))
				table.facility
					col(width="10%")
					col
					caption !{places.facility.name}
					//- -var appliedKey = ('applied' + applied.id + '_' + key)
					-var facilityKey = places.facility[key]
					tr
						td
						th.applied-label !{(GLOBAL.DATA.REFERENCE.applies[facilityKey]) ? GLOBAL.DATA.REFERENCE.applies[facilityKey].val : 'N/A'}






mixin writeVal(val, dataType)
	-var valClass = ['value'];

	-if(dataType === 'int') valClass.push('int')
	-if(dataType === 'float') valClass.push('float')

	if (val === null)
		-val = 'N/A'
	else if(dataType === 'int')
		-val = numeral(val).format('0,0')
	else if(dataType === 'float')
		-val = numeral(val).format('0,0.00')

	td(class=valClass)= val
	
